# NOTE: These requirements are used for continuous integration (CI)
# meta requirements
virtualenv

# local package
-e .

# external requirements
click           # BSD-3-Clause
sphinx          # BSD-3-Clause
coverage        # MIT
flake8          # MIT
python-dotenv   # BSD-3-Clause